<!DOCTYPE html>
<html>
    <head>
        <title>Jladdy Weather App</title>
        <link rel="stylesheet" href="/static/css/weather_styling.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    </head>
    <body>
        <div class="container-fliuid maindiv">
            
            <div class="container infodiv">
                <div class="flex-container">
                    {% block heading %}
                    {% endblock %}
                </div>
                <div class="flex-container content-div">
                    {% block content %}
                    {% endblock %}    
                </div>
                <div class="flex-container flex-footer">
                    <footer>
                        DC Flex Houston 2018
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>