<!DOCTYPE html>
<html>
    <head>
        <title>Jladdy Weather App</title>
        <link rel="stylesheet" href="/static/css/weather_styling.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    </head>
    <body>
        <div class="container-fliuid maindiv">
            
            <div class="container infodiv">
                {% block content %}
                {% endblock %}
                
                <footer>
                    DC Flex Houston 2018
                </footer>
            </div>
        
        </div>
    </body>
</html>