{% extends "weatherbase.html" %}

<!--I have access to these data points
    context [ 'cityname' | 'iconurl' | 'weatherdescription' | 'temp' ]
    context [ 'windspeed' | 'winddir' | 'lastupdate' | 'weatherid' ]-->

{% block heading %}
    <h1>My Weather App</h1>
{% endblock %}


{% block content %}
    <div id="datapoints" class='container'>
        {% if context %}
            <h1>Current Conditions for</h1>
            <h1>{{context['city']}}</h1>
            <h2>{{ context['weatherdescription'] }}</h2>
            <img src={{context['iconURL']}}></img>
            <h2>Temp is: {{context['temp']}} &#x00B0 F</h2>
            <h2>Wind Speed: {{context['windspeed']}} mph</h2>
            <h2>Wind Direction: {{context['winddir']}}</h2>
        {% else %}
            <form action="/" method="POST">
                <label>Enter you City:</label>
                <br>
                <input type="text" name="location"/>
                <input type="submit" value="Submit"/>
            </form>         
        {% endif %}
        
    </div>
{% endblock %}